* {
  box-sizing: border-box;
}

:root {
  --text-size: 16px;
  --bigger-text-size: 20px;
  --prediction-text-size: min(9vh, 9vw);
  /* --prediction-text-size: min(3vh, 3vw); */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-size: var(--text-size);
}
canvas {
  margin: 0;
  padding: 0;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#lemon-predictor {
  position: relative;
  width: 100%;
  height: min(100vw, 100vh);
}

#canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min(100vw, 100vh);
}

.text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min(100vw, 100vh);
  font-size: var(--prediction-text-size);
  /* mix-blend-mode: difference; */
  color: white;
  font-weight: 700;
}
.min-100-square {
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
}

.min-100-width {
  width: min(100vw, 100vh);
}

.lemon-container {
  padding-top: min(calc(100vh / 11), calc(100vw / 11));
}

#lemon-2 {
  display: none;
}
#lemon-percentage-1,
#lemon-percentage-1-text {
  width: min(100vw, 100vh);
  /* padding: min(1vw, 1vh); */
  display: flex;
}
#lemon-percentage-1 span,
#lemon-percentage-1-text span {
  display: flex;
  width: min(calc(100vh / 11), calc(100vw / 11));
  height: min(calc(100vh / 11), calc(100vw / 11));
  line-height: min(calc(100vh / 11), calc(100vw / 11));
  padding: 0;
  margin: 0;
  overflow: hidden;

  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.container {
  width: min(100vw, 100vh);
  margin: 0 auto;
}
.full-width {
  /* flex-basis: 100%;
  width: 100%; */
}
.padded {
  padding: 10px;
}

#prediction p {
  padding: 0;
  margin: 0;
}

.description {
  margin: 40px 0;
}
.lemon {
  background-color: yellow;
}

.bigger-text {
  font-size: var(--bigger-text-size);
}

p {
  max-width: 1000px;
}

a {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
img {
  width: 100%;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
